<nav id="menu">
    <ul>
        <li><a href="@Url.Action("Index", "Home")">@Resource.String("Home")</a></li>
        <li><a href="@Url.Action("Log", "System")">@Resource.String("Logs")</a></li>
        <li><a href="@Url.Action("Index", "Scenario")">@Resource.String("Scenario")</a></li>
        <li><a href="@Url.Action("History","Scenario")">@Resource.String("ScenarioHistory")</a></li>
        <li><a href="@Url.Action("Add", "FileUpload")">@Resource.String("FileUpload")</a></li>
        <li class="nav-top"><a href="#top">@Resource.String("Top")</a></li>
    </ul>
</nav>